{% extends 'base.html.twig' %}

{% block body %}
<h1>Ajouter une intervention</h1>

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

{{ form_start(form) }}
    {{ form_row(form.dateDebut) }}
    {{ form_row(form.dateFin) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.module) }}
    {{ form_row(form.typeIntervention) }}
    {{ form_row(form.corpsEnseignants) }}
    {{ form_row(form.visio) }}

    <button class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}
{% endblock %}
