{% extends 'base.html.twig' %}

{% block title %}Promotion {{ annee.nom }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/promotion.css') }}">
{% endblock %}

{% block body %}

<script>
function openModal() {
    document.getElementById('deleteModal').style.display = 'flex';
}

function closeModal() {
    document.getElementById('deleteModal').style.display = 'none';
}
</script>

<div id="deleteModal" class="modal-overlay">
    <div class="modal-box">

        <button class="modal-close" onclick="closeModal()">×</button>

        <div class="modal-header">
            <div class="modal-icon">✖</div>
            <div>
                <h2>Supprimer l’année scolaire</h2>
                <span>Confirmation de l’action</span>
            </div>
        </div>

        <p class="modal-text">
            Vous vous apprêtez à supprimer l’année scolaire, cette action est irrévocable.<br><br>
            À noter qu’aucune intervention ne doit être liée à cette année pour pouvoir la supprimer.
        </p>

        <p class="modal-question">
            Confirmez-vous l’action ?
        </p>

        <div class="modal-actions">
            <button class="btn-secondary" onclick="closeModal()">
                Annuler
            </button>

            <form method="post" action="{{ path('annee_delete', { id: annee.id }) }}">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annee.id) }}">

            <button class="btn-confirm">
                Confirmer
            </button>
        </form>

        </div>

    </div>
</div>

<div class="promotion-container">

    <!-- Breadcrumb -->
    <div class="breadcrumb">
        <span></span>
        <span>›</span>
        <span>Années scolaire</span>
        <span>›</span>
        <span>Promotion {{ annee.nom }}</span>
    </div>

    <!-- Titre -->
    <h1>Promotion {{ annee.nom }}</h1>

    <!-- Formu -->
    <div class="form-card">
        <div class="form-row">
            <div class="form-group">
                <label>Année - champ obligatoire</label>
                <input type="text" value="{{ annee.nom }}">
            </div>

            <div class="form-group">
                <label>Saison (format YYYY/YYYY) - champ obligatoire</label>
                <input type="text" value="{{ annee.dateDebut|date('Y') }}/{{ annee.dateFin|date('Y') }}">
            </div>
        </div>

        <div class="form-actions">
            <a href="{{ path('annees_scolaires') }}" class="btn-secondary">
                Retour à la liste
            </a>

            <button type="button" class="btn-danger" onclick="openModal()">
                Supprimer
            </button>


            <button class="btn-primary">
                Enregistrer les informations
            </button>
        </div>
    </div>

    <!-- Section pour les semaines -->
    <h2 class="section-title">Semaines de cours</h2>
    <p class="section-desc">
        Les semaines de cours permettent de contrôler l'ajout des interventions.
        Une intervention a lieu uniquement pendant les semaines de cours.
    </p>

    <div class="card">
        <div class="table-header">
            <span>Date début</span>
            <span>Date de fin</span>
            <span></span>
        </div>

       {% for semaine in annee.coursPeriodes %}

    <div class="table-row">
        <span>{{ semaine.dateDebut|date('d/m/Y') }}</span>
        <span>{{ semaine.dateFin|date('d/m/Y') }}</span>
        <span>
            <a href="{{ path('semaine_edit', { anneeId: annee.id, id: semaine.id }) }}" class="link">👁 Accéder à la fiche</a>
        </span>
    </div>
{% else %}
    <div class="table-row">
        <span colspan="3">Aucune semaine de cours</span>
    </div>
{% endfor %}

    </div>

    <a href="{{ path('semaine_new', { id: annee.id }) }}"
   class="btn-primary add-btn">
    Ajouter une semaine de cours
</a>

</div>
{% endblock %}